infra/stepfunctions.yaml
AWSTemplateFormatVersion: "2010-09-09"
Description: Master orchestration with retries, catch, and SNS alerts for Earthquake Lambda Architecture

Parameters:

  StateMachineName:
    Type: String
    Default: earthquake-master-orchestration

  StepFunctionRoleArn:
    Type: String
    Description: Existing Step Functions execution role ARN

  ProducerLambdaArn:
    Type: String
    Description: ARN of earthquake producer Lambda

  ReplayLambdaArn:
    Type: String
    Description: ARN of earthquake replay Lambda

  GlueJobName:
    Type: String
    Default: earthquake-raw-to-curated

  AlertsTopicArn:
    Type: String
    Description: SNS topic ARN for pipeline failure alerts

Resources:

  EarthquakeMasterStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Ref StateMachineName
      RoleArn: !Ref StepFunctionRoleArn
      DefinitionString: !Sub |
        {
          "Comment": "Master orchestration for Earthquake Lambda Architecture",
          "StartAt": "InvokeProducer",
          "States": {

            "InvokeProducer": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${ProducerLambdaArn}",
                "Payload": {}
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException"
                  ],
                  "IntervalSeconds": 5,
                  "MaxAttempts": 3,
                  "BackoffRate": 2
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "Next": "NotifyFailure"
                }
              ],
              "Next": "WaitForStreaming"
            },

            "WaitForStreaming": {
              "Type": "Wait",
              "Seconds": 60,
              "Next": "ReplayDLQ"
            },

            "ReplayDLQ": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${ReplayLambdaArn}",
                "Payload": {}
              },
              "Retry": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "IntervalSeconds": 10,
                  "MaxAttempts": 2
                }
              ],
              "Next": "RunGlueBatch"
            },

            "RunGlueBatch": {
              "Type": "Task",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "${GlueJobName}"
              },
              "Retry": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "IntervalSeconds": 30,
                  "MaxAttempts": 2
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "Next": "NotifyFailure"
                }
              ],
              "End": true
            },

            "NotifyFailure": {
              "Type": "Task",
              "Resource": "arn:aws:states:::sns:publish",
              "Parameters": {
                "TopicArn": "${AlertsTopicArn}",
                "Subject": "Earthquake Pipeline Failure",
                "Message": {
                  "ExecutionName.$": "$$.Execution.Name",
                  "StateMachine.$": "$$.StateMachine.Name",
                  "StartTime.$": "$$.Execution.StartTime"
                }
              },
              "Next": "FailState"
            },

            "FailState": {
              "Type": "Fail",
              "Cause": "Earthquake pipeline failed"
            }
          }
        }

Outputs:
  MasterStateMachineArn:
    Description: ARN of the master Step Function
    Value: !Ref EarthquakeMasterStateMachine
